<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ModuleMapper">
 
	<resultMap id="ModuleSelectMap" type="module">
		<result property="conIndex" column="cno" jdbcType="INTEGER"/>
		<result property="modType" column="mod_type" jdbcType="VARCHAR" />		
		<result property="modOrder" column="mod_order" jdbcType="VARCHAR" />
		<result property="modQuiz" column="mod_quiz" jdbcType="VARCHAR" />
	</resultMap>

	<!-- sample test -->
	<select id="getModule" parameterType="map" resultType="String">
	SELECT Mod_quiz
	FROM module
	WHERE cno=#{conIndex} and mod_order=#{modOrder} 
	</select>
		
</mapper>