<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="UserMapper">

	<resultMap id="userSelectMap" type="user">
		<!-- <result property="recid" column="recid" jdbcType="Integer"/> -->
		<result property="userId" column="id" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="email" column="email" jdbcType="VARCHAR"/>
		<result property="userName" column="name" jdbcType="VARCHAR"/>
		<result property="birthdate" column="birthdate" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="addr" column="addr" jdbcType="VARCHAR"/>		
		<result property="level" column="level" jdbcType="VARCHAR"/>			
		<result property="joindate" column="join_date" jdbcType="DATE"/>
		<result property="flag" column="flag" jdbcType="BOOLEAN"/>		
	</resultMap>

	<update id="updateUser">
		UPDATE user
		<set>
			password = #{password},
			email = #{email},			
			birthdate = #{birthdate}, 
			phone = #{phone}, 
			addr = #{addr}					
		</set>
		WHERE recid=#{recid}
	</update>
		
	<!-- SQL : SELECT LIST -->
 	<select  id="getUserList"  resultMap="userSelectMap"> 	
        SELECT @rownum:=@rownum+1 recid, 
        	u.id, u.password, u.email, u.name, u.birthdate, u.phone, u.addr, u.level, u.join_date, u.flag
        FROM user u,
        	(SELECT @rownum:=0) r		
	 </select> 
	 
</mapper>		
		 