<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="UserMapper">

	<resultMap id="userSelectMap" type="user">
		<!-- <result property="recid" column="recid" jdbcType="Integer"/> -->
		<result property="userId" column="id" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="email" column="email" jdbcType="VARCHAR"/>
		<result property="userName" column="name" jdbcType="VARCHAR"/>
		<result property="birthdate" column="birthdate" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="addr" column="addr" jdbcType="VARCHAR"/>		
		<result property="level" column="level" jdbcType="VARCHAR"/>			
		<result property="joindate" column="join_date" jdbcType="DATE"/>
		<result property="flag" column="flag" jdbcType="BOOLEAN"/>		
	</resultMap>

	<insert id="addUser" parameterType="user">
		INSERT
		INTO user (id, password, email, name, birthdate, phone, addr, level,  join_date, flag)
		VALUES (#{userId}, #{password}, #{email}, #{userName}, #{birthdate}, #{phone}, #{addr},
		'대기', SYSDATE(), true)	
	</insert>

	<select id="getUser" parameterType="string" resultMap="userSelectMap">
		SELECT
		id, password, email, name, birthdate, phone, addr, level,  join_date 
		FROM user
		where id=#{value}	
	</select>

	<update id="updateUser" 	parameterType="user">
		UPDATE user
		<set>
			password = #{password},
			email = #{email}, 
			name = #{userName}, 
			birthdate = #{birthdate},
			phone = #{phone}, 
			addr = #{addr},  
			level = #{level}		
		</set>
		WHERE id=#{userId}
	</update>
	
	<update id="updateLeaveUser">
		UPDATE user
		<set>			
			flag = false		
		</set>
		WHERE id=#{userId}	
	</update>
	
	<update id="updateUserAdmin">
		UPDATE user
		<set>
			password = #{password},
			email = #{email},			
			birthdate = #{birthdate}, 
			phone = #{phone}, 
			addr = #{addr}					
		</set>
		WHERE recid=#{recid}
	</update>
		
	<!-- SQL : SELECT LIST -->
 	<select  id="getUserList"  resultMap="userSelectMap"> 	
        SELECT @rownum:=@rownum+1 recid, 
        	u.id, u.password, u.email, u.name, u.birthdate, u.phone, u.addr, u.level, u.join_date, u.flag
        FROM user u,
        	(SELECT @rownum:=0) r		
	 </select> 
	 
</mapper>		
		 