<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 
	<resultMap id="userSelectMap" type="user">
		<result property="dailyIndex" column="daily_index" jdbcType="INTEGER"/>
		<result property="moduleNo" column="module_no" jdbcType="INTEGER" />
		<result property="moduleIndex" column="Module_index" jdbcType="INTEGER" />
		<result property="moduleType" column="Module_type" jdbcType="VARCHAR" />
		<result property="moduleQuiz" column="Module_quiz" jdbcType="VARCHAR"  />
	</resultMap>
	
	<select id="getList" resultType="String">
	SELECT Module_quiz
	FROM StudyModule
	WHERE daily_index=102
	</select>

</mapper>